<header class="project--header">
  <h2 data-ng-if="project.title" data-set-title>{{ project.title }}</h2>
  <p>{{ project.body }}</p>
</header>
<section class="project--details"
         data-ng-if="project.title"
         data-project="project"
         data-project-styles="background">
  <h3>Links</h3>
  <ul class="project--details--list">
    <li class="project--details--list-item">
      <a class="project--details--link"
         href="{{ project.url }}"
         target="_blank">Website</a>
    </li>
    <li class="project--details--list-item">
      <a class="project--details--link"
         href="{{ project.github }}"
         target="_blank">GitHub</a>
    </li>
  </ul>
  <h3>Technology</h3>
  <ul class="project--details--list">
    <li class="project--details--list-item"
        data-ng-repeat="tag in project.tags">{{ tag }}</li>
  </ul>
</section>
