.projects--list-item--title {
  @include font-details($height: 1.4);

  display: inline-block;
  position: relative;
  padding: 10px 5px;
  padding: 1rem 0.5rem;
  width: 150px;
  width: 15rem;
  vertical-align: middle;
  transition: transform $transition-duration-extended ease-out;

  .projects--list-item--link:hover & {
    transform: translateY(-9rem);
    vertical-align: baseline;
  }
}
