h1 {
  font-size: 20px;
  @include font-details($size: 2rem, $height: 2);
}
h2 {
  font-size: 14px;
  @include font-details($size: 1.4rem, $weight: 300);
}
h3 {
  font-size: 24px;
  @include font-details($size: 2.4rem, $height: 1.2);
}
