h1 {
  @include font-details($size: 20px, $height: 2);
  font-size: 2rem;
}
h2 {
  @include font-details($size: 14px, $weight: 300);
  font-size: 1.4rem;
}
h3 {
  @include font-details($size: 24px, $height: 1.2);
  font-size: 2.4rem;
}
