.navigation--heading {
  @extend %icon-replace;
  @extend .fa-bars;
  @include font-details($size: 16px, $color: white);
  font-size: 1.6rem;

  float: right;
  margin: 0 0 6.25px;
  margin: 0 0 0.625rem;
  border: {
    radius: 50%;
  }
  padding: {
    top: 5px;
    top: 0.5rem;
  }
  height: 25px;
  height: 2.5rem;
  width: 25px;
  width: 2.5rem;
  background: {
    color: black;
  }
  text-align: center;
  cursor: pointer;
}


@include breakpoint($breakpoint-mobile-wide) {
  .navigation--heading {
    @include font-details($size: 18px);
    font-size: 1.8rem;

    height: 27px;
    height: 2.7rem;
    width: 27px;
    width: 2.7rem;
  }
}

@include breakpoint($breakpoint-tablet) {
  .navigation--heading {
    @include font-details($size: 20px);
    font-size: 2rem;

    height: 30px;
    height: 3rem;
    width: 30px;
    width: 3rem;
  }
}
