  ///////////////
 // VARIABLES //
///////////////

  //----------------------------------//
 //  COLORS
//----------------------------------//

$blue-dark: #0FA8B3;
$blue: #5EF4FF;
$blue-light: #ccffff;

$orange: #FF802A;
$orange-dark: #B34800;
