<h2>Contact</h2>
<p>
  You can contact me by filling out the following form. If you prefer email, send a message to
  <a href="mailto:mike@mjbondra.com">mike@mjbondra.com</a>.
</p>
<p>
  <span class="form--label--required">*</span> = Required Field
</p>
<form class="form"
      name="messageForm"
      data-form-handler
      data-form-model="message"
      data-form-submit="Send"
      novalidate>
  <label class="form--label">Name
    <input class="form--text" name="name" type="text" data-ng-model="message.name">
  </label>
  <label class="form--label">Email
    <input class="form--text" name="email" type="email" data-ng-model="message.email">
  </label>
  <label class="form--label">Comments<span class="form--label--required">*</span>
    <textarea class="form--textarea" name="body" data-ng-model="message.body" required></textarea>
  </label>
  <div data-recaptcha-parent="message"
       data-recaptcha-render></div>
</form>
