<h2>Contact</h2>
<p>
  You can contact me by filling out the following form. If you prefer email, send a message to
  <a href="mailto:mike@mjbondra.com">mike@mjbondra.com</a>.
</p>
<p>
  <span class="form--label--required">*</span> = Required Field
</p>
<form class="form" name="messageForm" novalidate data-form-handler="message">
  <label class="form--label">Name
    <input class="form--text" name="name" type="text" data-ng-model="message.name">
  </label>
  <label class="form--label">Email
    <input class="form--text" name="email" type="email" data-ng-model="message.email">
  </label>
  <label class="form--label">Comments<span class="form--label--required">*</span>
    <textarea class="form--textarea" name="body" data-ng-model="message.body" required></textarea>
  </label>
  <div class="google-recaptcha"
       data-recaptcha-id="gRecaptchaId"
       data-recaptcha-model="message.gRecaptchaResponse"
       data-recaptcha-render></div>
  <button class="form--button" type="submit" data-ng-click="save()">Send</button>
</form>
