.hero--title {
  @include font-details($size: 18px, $height: 1.25);
  font-size: 1.8rem;

  position: relative;
  z-index: 2;
  margin: 0 auto;
  max-width: 280px;
  max-width: 28rem;
}

@include breakpoint($breakpoint-mobile-wide) {
  .hero--title {
    @include font-details($size: 24px);
    font-size: 2.4rem;

    max-width: 365px;
    max-width: 36.5rem;
  }
}

@include breakpoint($breakpoint-tablet) {
  .hero--title {
    @include font-details($size: 36px);
    font-size: 3.6rem;

    max-width: 620px;
    max-width: 62rem;
  }
}
