<h2 data-send-pageview data-set-title>Hello!</h2>
<p data-set-description>
  My name is Michael J. Bondra, and I create high-quality experiences for the
  web's users and makers.
</p>
<p>
  I am a full-stack engineer who has been developing websites and applications
  for more than fifteen years. In that time I have seen the web transform from a
  blinking, scrolling, table-filled, frame-organized, perl-script-driven
  guestbook, to a world of respectable architectures and unquestioned utility.
</p>
<h3>JavaScript All the Things</h3>
<p>
  Let's talk about JavaScript. It's not perfect &mdash; an obvious statement
  for those who have lived through the nightmares of loaded operators,
  unintuitive coercion, and <em>0.1 + 0.2 !== 0.3</em>. But a server-side
  runtime, evolving standards, and a myriad of excellent frameworks have given
  new life to the imperfect child of necessity.
</p>
<p>
  I can help you with your next <a href="http://expressjs.com/" target="_blank">
  Express</a> app, but I really want you to hear more about
  <a href="http://koajs.com/" target="_blank">Koa</a>. I want you to see the
  power of ECMAScript 6 in practice &mdash; in generators that allow you to
  build synchronicity within asynchronous code through <em>yield</em>
  statements. The ability to flatten callback pyramids and decrease your
  reliance on <em>Promises</em> is a liberation that every JavaScript developer
  should experience.
</p>
<p>
  On the front-end, let's choose libraries that efficiently serve your purpose
  &mdash; let's choose a framework that allows us to write code that is clean,
  modular, and scalable. <a href="https://angularjs.org/"  target="_blank">
  AngularJS</a> &mdash; sponsored by Google and supported by a huge community
  &mdash; is a dependency-injecting, two-way-data-binding wunderkind that is
  worthy of consideration for a variety of projects. I pair it with
  <a href="http://browserify.org/" target="_blank">Browserify</a>, which allows
  me to easily share code and methodology with
  <a href="https://nodejs.org/" target="_blank">Node</a>-based server
  components.
</p>
<h3>Et Cetera, Et Alii</h3>
<p>
  When I am not developing, you might find me exploring Ann Arbor with my
  long-time partner, Vanessa, and our five-year-old German Shepherd mix, Stella.
  You might also see me brewing a crisp session ale, or tending to my urban hops
  garden.
</p>
<p>
  Not long ago I earned my second degree from the University of Michigan &mdash;
  an MSI in Human-Computer Interaction to go with my BA in Social Anthropology.
  While I take pride in my academic achievements, I take even greater pride in
  my passion, and the attention to detail that put into everything that I do.
</p>
<p>
  Are you interested in collaborating with someone who has an unrelenting drive
  and a deep understanding of the technology that will guide your ideas and 
  goals from concept to production? Let's have a
  <a href="mailto:inquiries@mjbondra.com">conversation</a>.
</p>
