<div class="status-messages status-messages--{{ statusType }}"
     data-ng-if="statusMessages"
     data-scroll-offset="30"
     data-scroll-to>
  <a role="button" class="status-messages--clear" data-ng-click="clearMessages()">Clear</a>
  <ul class="status-messages--list">
    <li class="status-messages--list-item" data-ng-repeat="statusMessage in statusMessages">{{ statusMessage.msg }}</li>
  </ul>
</div>
<div class="form--fields" data-ng-transclude></div>
<button class="form--button" type="submit" data-ng-click="save()">{{ ::formSubmit }}</button>
