.message-form--textarea {
  @include font-details($weight: 400);
  
  display: block;
  width: 100%;
  height: 240px;
  height: 24rem;
}

@include breakpoint($breakpoint-mobile-wide) {
  .message-form--textarea {
    height: 243px;
    height: 24.3rem;
    background: {
      image: url('/img/bg/textarea--mobile-wide.png');
    }

    &:focus {
      background: {
        image: url('/img/bg/textarea--mobile-wide--focus.png') !important;;
      }
    }

    &.ng-dirty.ng-invalid, &.invalid {
      background: {
        image: url('/img/bg/textarea--mobile-wide--invalid.png');
      }
    }
  }
}

@include breakpoint($breakpoint-tablet) {
  .message-form--textarea {
    height: 240px;
    height: 24rem;
    background: {
      image: url('/img/bg/textarea--tablet.png');
    }

    &:focus {
      background: {
        image: url('/img/bg/textarea--tablet--focus.png') !important;;
      }
    }

    &.ng-dirty.ng-invalid, &.invalid {
      background: {
        image: url('/img/bg/textarea--tablet--invalid.png');
      }
    }
  }
}
