.project--list-item--title {
  @include font-details($height: 1.4);

  display: inline-block;
  position: relative;
  vertical-align: middle;
  transition: transform $transition-duration-extended ease-out;

  .project--list-item--link:hover & {
    transform: translateY(-9rem);
    vertical-align: baseline;
  }
}
