.project--title {
  @include font-details($height: 1.4);

  display: inline-block;
  position: relative;
  top: 0;
  vertical-align: middle;
  transition: top 100ms ease-out;

  .project--link:hover & {
    top: -90px;
    top: -9rem;
    vertical-align: baseline;
  }
}
