.project--header {
  margin: 0 auto;
  padding: 20px;
  padding: 2rem;
  max-width: 540px;
  max-width: 54rem;
  height: map_get($project, height-px);
  height: map_get($project, height);

}

@include breakpoint($breakpoint-tablet) {
  .project--header {
    @include span(4 of 6);

    padding: 0;
    max-width: none;
    height: map_get($project, height-tablet-px);
    height: map_get($project, height-tablet);
  }
}
