.project--link {
  @include font-details($color: white, $height: 150px);
  line-height: 15rem;

  display: block;
  border: {
    radius: 50%;
  }
  width: 150px;
  width: 15rem;
  height: 150px;
  height: 15rem;
  background: {
    size: 150px 150px;
    size: 15rem 15rem;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    filter: alpha(opacity=90);
    opacity: 0.9;
    border: {
      radius: 50%;
    }
    width: 150px;
    width: 15rem;
    height: 150px;
    height: 15rem;
    transition: opacity 100ms ease-out;
  }

  &:hover {
    @include font-details($color: $black);

    &:before {
      filter: alpha(opacity=50);
      opacity: 0.5;
    }
  }
}
