%button {
  padding: 0.5em 2.5em;
  color: white;
  background: {
    color: $black;
  }
  cursor: pointer;
  transition: background-color $transition-duration ease-out;

  &:hover {
    color: white;
    background: {
      color: $blue;
    }
    text-decoration: none;
  }
}


%button-submit {
  @extend %button;

  &:hover {
    background: {
      color: $green;
    }
  }
}

%button-reset {
  @extend %button;

  &:hover {
    background: {
      color: $red;
    }
  }
}
