@mixin icon-replace ($family: 'FontAwesome') {
  overflow: hidden;
  &:before {
    display: block;
    height: 150%;
    font-family: $family;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
