.page-header--title {
  @include font-details($color: white);

  position: relative;
  z-index: 1;
  margin: 0;
  padding: {
    top: 10px;
    top: 1rem;
    right: 50%;
    left: 10px;
    left: 1rem;
  }

  &:before {
    content: '';
    position: absolute;
    top: 40px;
    top: 4rem;
    left: 100px;
    left: 10rem;
    display: block;
    border: {
      radius: 50%;
    }
    height: 100px;
    height: 10rem;
    width: 100px;
    width: 10rem;
    background: {
      color: $gray;
      image: url('/img/mjbondra-square-small.png');
      size: 100px 100px;
      size: 10rem 10rem;
    }
  }
}

@include breakpoint($breakpoint-hi-res) {
  .page-header--title {
    &:before {
      background: {
        image: url('/img/mjbondra-square-medium.png');
      }
    }
  }
}

@include breakpoint($breakpoint-mobile-wide) {
  .page-header--title {
    margin: {
      right: auto;
      left: auto;
    }
    padding: {
      top: 90px;
      top: 9rem;
      right: 0;
      left: 0;
    }
    max-width: 360px;
    max-width: 36rem;
    &:before {
      position: relative;
      float: left;
      top: -10px;
      top: -1rem;
      left: auto;
      margin: {
        right: 15px;
        right: 1.5rem;
      }
    }
  }
}

@include breakpoint($breakpoint-tablet) {
  .page-header--title {
    @include font-details($size: 36px);
    font-size: 3.6rem;

    padding: {
      top: 140px;
      top: 14rem;
    }
    max-width: 620px;
    max-width: 62rem;
    &:before {
      top: -40px;
      top: -4rem;
      margin: {
        right: 30px;
        right: 3rem;
      }
      height: 200px;
      height: 20rem;
      width: 200px;
      width: 20rem;
      background: {
        image: url('/img/mjbondra-square-medium.png');
        size: 200px 200px;
        size: 20rem 20rem;
      }
    }
  }
}

@include breakpoint($breakpoint-tablet $breakpoint-hi-res) {
  .page-header--title {
    &:before {
      background: {
        image: url('/img/mjbondra-square-large.png');
      }
    }
  }
}

@include breakpoint($breakpoint-desktop) {
  .page-header--title {
    padding: {
      top: 200px;
      top: 20rem;
    }
  }
}

@include breakpoint($breakpoint-desktop-wide) {
  .page-header--title {
    padding: {
      top: 280px;
      top: 28rem;
    }
  }
}
