.header-about {
  font-size: 14px;
  @include font-details($size: 1.4rem);

  margin: 0;
  padding: {
    right: 3px;
    right: 0.3rem;
  }
  min-height: 42px;
  min-height: 4.2rem;
}

@include breakpoint($breakpoint-tablet) {
  .header-about {
    font-size: 22px;
    @include font-details($size: 2.2rem);
  }
}
