/**
 *                     88 88                                           88
 *                     "" 88                                           88
 *                        88                                           88
 *  88,dPYba,,adPYba,  88 88,dPPYba,   ,adPPYba,  8b,dPPYba,   ,adPPYb,88 8b,dPPYba, ,adPPYYba,
 *  88P'   "88"    "8a 88 88P'    "8a a8"     "8a 88P'   `"8a a8"    `Y88 88P'   "Y8 ""     `Y8
 *  88      88      88 88 88       d8 8b       d8 88       88 8b       88 88         ,adPPPPP88
 *  88      88      88 88 88b,   ,a8" "8a,   ,a8" 88       88 "8a,   ,d88 88         88,    ,88
 *  88      88      88 88 8Y"Ybbd8"'   `"YbbdP"'  88       88  `"8bbdP"Y8 88         `"8bbdP"Y8
 *                    ,88
 *                  888P"
 */

/*------------------------------------*\
    TABLE OF CONTENTS
\*------------------------------------*/

/*---------------------------------------------------------------------*\

  1. DEPENDENCIES...............Stylesheet Dependencies
  2. UNIVERSAL STYLES...........Styles Applied to All Elements
  3. BASE STYLES................Basic and Elemental Styles
  4. LAYOUTS....................Layouts and Positioning
  5. COMPONENTS.................Reusable Utilities and Content

\*---------------------------------------------------------------------*/

/*------------------------------------*\
    DEPENDENCIES
\*------------------------------------*/

/*--Third Party Variables--*/
$fira-font-path: '../fonts/fira';
$fa-font-path: "../lib/font-awesome/fonts";

/*--Third Party Libraries--*/
@import "../lib/bourbon/dist/bourbon";
@import "../lib/compass-breakpoint/stylesheets/breakpoint";
@import "../lib/susy/sass/susy";
@import "libraries/normalize"; // symlinked css as scss from ../libraries/normalize-css/normalize.css
@import "libraries/html5-boilerplate"; // symlinked css as scss from ../libraries/html5-boilerplate/css/main.css
@import "libraries/fira";
@import "../lib/font-awesome/scss/font-awesome";

/*--App Dependencies--*/
@import "variables/**/*";
@import "abstractions/**/*";

/*------------------------------------*\
    UNIVERSAL STYLES
\*------------------------------------*/

*, *:before, *:after {
  @include box-sizing(border-box);
}

/*------------------------------------*\
    BASE STYLES
\*------------------------------------*/

html {
  font-size: 62.5%;
}

@import "base/**/*";

/*------------------------------------*\
    LAYOUTS
\*------------------------------------*/

@import "layouts/**/*";

/*------------------------------------*\
    COMPONENTS
\*------------------------------------*/

@import "components/**/*";
