<h2 data-description data-ng-if="project.title" data-title>Edit {{ project.title }}</h2>
<form data-novalidate>
  <label>Title<input type="text" data-ng-model="project.title"></label>
  <label>Description<textarea data-ng-model="project.body"></textarea></label>
  <fieldset
    data-image-alt="project.title"
    data-image-fieldset="project.images"
    data-image-multiple="true"
    data-image-width="50"
    data-parent-root="/api/projects"
    data-parent-slug="project.slug"></fieldset>
  <fieldset>Tags
    <ul>
      <li data-ng-repeat="tag in project.tags">
        <input type="text" data-ng-model="tag.title">
        <button data-field-remove="project.tags" data-index="{{ $index }}">Remove Tag</button>
      </li>
    </ul>
    <button data-field-add="project.tags">Add Tag</button>
  </fieldset>
  <label>URL<input type="url" data-ng-model="project.url"></label>
  <button data-ng-click="project.$update({ project: project.slug })">Update Project</button>
</form>
