<h2 data-title>New Project</h2>
<p data-description>Enter a new project into the portfolio.</p>
<form data-novalidate>
  <label>Title<input type="text" data-ng-model="project.title"></label>
  <label>Description<textarea data-ng-model="project.body"></textarea></label>
  <fieldset>Tags
    <ul>
      <li data-ng-repeat="tag in project.tags">
        <label>{{ $index + 1 }}<input type="text" data-ng-model="tag.title"></label>
        <button data-index="{{ $index }}" data-remove-field="project.tags">Remove Tag</button>
      </li>
    </ul>
    <button data-add-field="project.tags">Add Tag</button>
  </fieldset>
  <label>URL<input type="url" data-ng-model="project.url"></label>
  <button data-ng-click="project.$save()">Save Project</button>
</form>
