$black: #333333;
$blue: #3399CC;
$orange: #FF5A3C;
$red: #EB5C62;
$green: #55D787;
$white: #ECECF0;
$yellow: #FFC83C;

$mask-black: rgba($black, 0.6);
$mask-blue: rgba($blue, 0.2);
$mask-orange: rgba($orange, 0.2);
$mask-red: rgba($red, 0.2);
$mask-green: rgba($green, 0.2);
$mask-white: rgba($white, 0.2);
$mask-yellow: rgba($yellow, 0.2);

$mask-qltd: rgba(#6ca6a6, 0.8);
$mask-the-ark: rgba(#14021c, 0.3);
$mask-s2015: rgba(#5889b5, 0.8);
$mask-s2014-epromo: rgba(white, 0);
$mask-koa-session-mongoose: rgba($black, 0.9);
