$black: #333333;
$blue: #3399CC;
$gray: #CCCCCC;
$orange: #FF5A3C;
$red: #EB5C62;
$green: #55D787;
$white: #FFFFFF;
$yellow: #FFC83C;

$mask-black: rgba($black, 0.6);
$mask-blue: rgba($blue, 0.2);
$mask-gray: rgba($gray, 0.8);
$mask-orange: rgba($orange, 0.2);
$mask-red: rgba($red, 0.2);
$mask-green: rgba($green, 0.2);
$mask-white: rgba($white, 0.95);
$mask-yellow: rgba($yellow, 0.2);
