// A slim, Sass variant of fira.css

$fira-eot-directory: '/eot' !default;
$fira-woff2-directory: '/woff2' !default;
$fira-woff-directory: '/woff' !default;
$fira-ttf-directory: '/ttf' !default;

@font-face{
  font-family: 'Fira Mono';
  src: url('#{$fira-font-path}#{$fira-eot-directory}/firamono-regular-webfont.eot');
  src: local('Fira Mono'),
       url('#{$fira-font-path}#{$fira-eot-directory}/firamono-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('#{$fira-font-path}#{$fira-woff2-directory}/firamono-regular-webfont.woff2') format('woff2'),
       url('#{$fira-font-path}#{$fira-woff-directory}/firamono-regular-webfont.woff') format('woff'),
       url('#{$fira-font-path}#{$fira-ttf-directory}/firamono-regular-webfont.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face{
  font-family: 'Fira Mono';
  src: url('#{$fira-font-path}#{$fira-eot-directory}/firamono-medium-webfont.eot');
  src: local('Fira Mono Medium'),
       url('#{$fira-font-path}#{$fira-eot-directory}/firamono-medium-webfont.eot?#iefix') format('embedded-opentype'),
       url('#{$fira-font-path}#{$fira-woff2-directory}/firamono-medium-webfont.woff2') format('woff2'),
       url('#{$fira-font-path}#{$fira-woff-directory}/firamono-medium-webfont.woff') format('woff'),
       url('#{$fira-font-path}#{$fira-ttf-directory}/firamono-medium-webfont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face{
  font-family: 'Fira Mono';
  src: url('#{$fira-font-path}#{$fira-eot-directory}/firamono-bold-webfont.eot');
  src: local('Fira Mono Bold'),
       url('#{$fira-font-path}#{$fira-eot-directory}/firamono-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('#{$fira-font-path}#{$fira-woff2-directory}/firamono-bold-webfont.woff2') format('woff2'),
       url('#{$fira-font-path}#{$fira-woff-directory}/firamono-bold-webfont.woff') format('woff'),
       url('#{$fira-font-path}#{$fira-ttf-directory}/firamono-bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
