.article--projects {
  @extend .clearfix;

  .page--main > & {
    padding: 0;
    max-width: none;
  }

  &:before { // base styles for dynamic page backgrounds
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
    filter: alpha(opacity=5);
    opacity: 0.05;
    top: 0;
    left: 0;
    width: 100%;
    height: map_get($project, height-px);
    height: map_get($project, height);
  }
}

@include breakpoint($breakpoint-tablet) {
  .article--projects {
    .page--main > & {
      padding: {
        top: 20px;
        top: 2rem;
      }
      max-width: 640px;
      max-width: 64rem;
    }

    &:before {
      height: map_get($project, height-tablet-px);
      height: map_get($project, height-tablet);
    }
  }
}

@include breakpoint($breakpoint-desktop) {
  .article--projects {
    .page--main > & {
      max-width: 700px;
      max-width: 70rem;
    }

    &:before {
      height: 100%;
      background: {
        size: cover;
      }
    }
  }
}
