.form--message {
  margin: 0 auto;
  padding: 10px 20px;
  padding: 1rem 2rem;
  max-width: 540px;
  max-width: 54rem;
}

@include breakpoint($breakpoint-mobile-wide) {
  .form--message {
    @include font-details($size: 18px);
    font-size: 1.8rem;
  }
}

@include breakpoint($breakpoint-tablet) {
  .form--message {
    @include font-details($size: 20px);
    font-size: 2rem;

    padding: {
      right: 0;
      left: 0;
    }
    max-width: 640px;
    max-width: 64rem;
  }
}

@include breakpoint($breakpoint-desktop) {
  .form--message {
    max-width: 700px;
    max-width: 70rem;
  }
}
