.page-header {
  height: 180px;
  height: 18rem;
  background: {
    image: url('../img/bg/mjbondra-mobile.jpg');
    size: 100% auto;
  }

  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 180px;
    height: 18rem;
    opacity: 0.8;
    background: {
      color: $mask-black;
      image: url('../img/bg/screen.png');
    }
  }
}

@include breakpoint ($breakpoint-mobile-wide) {
  .page-header {
    background: {
      image: url('../img/bg/mjbondra-mobile-wide.jpg');
    }
    &, &:after {
      height: 270px;
      height: 27rem;
    }
  }
}

@include breakpoint ($breakpoint-tablet) {
  .page-header {
    background: {
      image: url('../img/bg/mjbondra-tablet.jpg');
    }
    &, &:after {
      height: 432px;
      height: 43.2rem;
    }
  }
}

@include breakpoint ($breakpoint-desktop) {
  .page-header {
    &, &:after {
      height: 577px;
      height: 57.7rem;
    }
  }
}

@include breakpoint ($breakpoint-desktop-wide) {
  .page-header {
    &, &:after {
      height: 754px;
      height: 75.4rem;
    }
  }
}
