.projects {
  padding: 10px 20px;
  padding: 1rem 2rem;
}

@include breakpoint($breakpoint-mobile-wide) {
  .projects {
    @include font-details($size: 18px);
    font-size: 1.8rem;
  }
}

@include breakpoint($breakpoint-tablet) {
  .projects {
    @include font-details($size: 20px);
    font-size: 2rem;
  }
}
