.section-projects {

}
.section-projects-title {
  margin: 32px 0 10px;
  margin: 3.2rem 0 1rem;
  padding: 0 40px;
  padding: 0 4rem;
  letter-spacing: 5px;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  text-align: right;
}

@include breakpoint($breakpoint-tablet) {
  .section-projects-title {
    font-size: 22px;
    @include font-details($size: 2.2rem);

    margin: {
      top: 48px;
      top: 4.8rem;
    }
  }
}
