.connect--link {
  @include font-details($size: 16px, $color: white, $height: 100px);
  font-size: 1.6rem;
  line-height: 10rem;

  display: block;
  border: {
    radius: 50%;
  }
  width: 100px;
  width: 10rem;
  height: 100px;
  height: 10rem;
  background: {
    color: $black;
  }
  transition: background-color $transition-duration-extended ease-out,
              color $transition-duration-extended ease-out;

  &:before {
    @include FontAwesome($size: 50px);
    font-size: 5rem;

    position: absolute;
    filter: alpha(opacity=10);
    opacity: 0.1;
    margin: {
      top: 25px;
      top: 2.5rem;
    }
    width: 100px;
    width: 10rem;
    text-align: center;
    transition: opacity $transition-duration-extended ease-out;
  }

  &:hover {
    @include font-details($color: white);

    background: {
      color: $blue;
    }

    &:before {
      filter: alpha(opacity=100);
      opacity: 1;
    }
  }
}

.link--email {
  @extend .fa-envelope-o;

  &:hover {
    background: {
      color: $green;
    }
  }
}

.link--github {
  @extend .fa-github;

  &:hover {
    background: {
      color: $github;
    }
  }
}

.link--linkedin {
  @extend .fa-linkedin-square;

  &:hover {
    background: {
      color: $linkedin;
    }
  }
}

.link--phone {
  @extend .fa-phone;

  &:hover {
    background: {
      color: $green;
    }
  }
}

.link--twitter {
  @extend .fa-twitter;

  &:hover {
    background: {
      color: $twitter;
    }
  }
}
